= form_for :person, url: person_path(@person), method: :patch do |f|
    %p
    = f.label :name
    %br
    = f.text_field :name
    %p
    = f.label :email_address
    %br
    = f.text_field :email_address
    %p
    = f.label :gender
    %br
    = f.text_field  :gender
    %p
    = f.label :team
    %br
    = f.text_field  :team
    %p
    = f.label :start
    %br
    = f.text_field :start 
    %p.button
    = f.submit
