- @people.each do |person|
  %p
    #{person.name}
    #{person.gender}
    #{person.start}
    #{person.team}
    = link_to 'Delete', person_path(person), method: :delete
    = link_to 'Edit', edit_person_path(person), method: :edit
