%h3 Name: #{event_dto.name}
%h3 People
%table{:border => 1, :class => 'table table-striped'}
  %tr
    %th Name
    %th Email Address
    %th Gender
    %th Hire Date
    %th Actions
  - event_dto.people.each do |person|
    %tr
      %td= link_to person.name, person_path(person)
      %td #{person.email_address}
      %td #{person.gender}
      %td #{person.start}
      %td= link_to 'Remove', remove_person_event_path(id: event_dto.id, person_id: person.id), class: 'btn'

- if event_dto.group_table
  %h3 Groups:
  %table{:border => 1, :class => 'table table-striped'}
    -event_dto.group_table.each do |row|
      %tr
      -row.each do |cell|
        %td= cell

.complete
  %p= link_to 'Add All People To Event', add_all_people_event_path(event_dto.id), class: 'btn btn-primary'
  %p= link_to 'Create Groups', create_groups_event_path(event_dto.id), class: 'btn btn-primary'

  %p= link_to 'Send Opt-In/Opt-Out Emails', announce_event_path(event_dto.id), method: :post, class: 'btn btn-danger'
  %p= link_to 'Send Group Organization Emails', send_email_event_path(event_dto.id), method: :post, class: 'btn btn-danger  '
  %p= link_to 'Delete', event_path(event_dto.id), method: :delete, class: 'btn btn-warning'
