%table{:border => 1, :class => 'table table-striped'}
  %tr
    %th Name
    %th Email Address
    %th Gender
    %th Hire Date
    %th Team
    %th UUID
    %th{:colspan => 2} Actions
  - people.each do |person|
    %tr
      %td= link_to person.name, person_path(person)
      %td #{person.email_address}
      %td #{person.gender}
      %td #{person.start}
      %td #{person.team}
      %td #{person.uuid}
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Delete', person_path(person), method: :delete
