<!DOCTYPE html>
<html>
<head>
  <title>Grouper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :static => :top, :brand => "Grouper", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "All People", people_path %>
        <%= menu_divider %>
        <%= menu_item "All Events", events_path %>
    <% end %>
<% end %>
<%= yield %>

</body>
</html>
