<!DOCTYPE html>
<html>
<head>
  <title>Grouper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar :static => :top, :brand => "Grouper", :responsive => true do %>
    <%= menu_group do %>
        <%= menu_item "All People", people_path %>
        <%= drop_down "Create People" do%>
          <%= menu_item "Create Person", new_person_path %>
          <%= menu_item "Upload People", new_people_uploader_path %>
        <% end %>
        <%= menu_divider %>
        <%= menu_item "All Events", events_path %>
        <%= drop_down "Create Events" do%>
          <%= menu_item "Create Event", new_event_path %>
          <%= menu_item "Upload Past Events", new_events_uploader_path %>
        <% end %>
    <% end %>
<% end %>
<%= yield %>

</body>
</html>
